.title h4{
    text-align: center;
    font-weight: bold;
    margin-top: 38px;
}
.container{
  margin-top: 38px;
}
.col img{
  width: 500px;
}
.footer-text p{
    margin: 5px 0; /* Mengatur jarak atas dan bawah setiap paragraf */
    text-align:left;
}
.footer-section p:first-child {
    font-weight: bold; /* Membuat baris pertama tebal */
}
footer {
    background-color: #451773;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.footer-sections {
    display: flex;
    justify-content: space-around;
    margin: 15px;
    margin-top: 30px;
}
.lala p{
    position: relative;
    top: 50px;
    right: 250px;
    right: 115px;
  }
  .lalas p{
    position: relative;
    top: 110px;
    right: 250px;
    right: 265px;
  }
  .las p{
    position: relative;
    top: 175px;
    right: 247px;
    right: 423px;
  }
  .footer-sections .rivka{
    font-weight: bold;
  }
  .footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .social-media {
    margin: 5px 0;
    width: 40px;
    height: 40px;
  } 
  
  .social-media img {
    margin: 5px 10px;
    width: 40px;
    height: 40px;
  }
  
  .social-media:nth-child(4) {
    margin-top: 20px; /* Adjust the spacing between Facebook and Instagram */
  }
  
  .social-media:nth-child(3) {
    margin-top: 20px; /* Adjust the spacing between Instagram and YouTube */
  }
  .white-header {
    background-color: #ffffff;
    padding: 15px;
    text-align: center;
  }
  .white-header img {
    max-width: 300px; 
    display: flex;
  }
  
  .purple-header {
    background-color: #451773;
    color: #fff;
    padding: 25px;
    text-align: center;
  }
  
  .purple-header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .purple-header nav ul li {
    display: inline-block;
    margin-right: 80px;
  }
  
  .purple-header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }
  .purple-header nav ul li .sayur:hover{
    color:rgb(255, 217, 0);
  }
  .purple-header nav ul li .sayuractive{
    color:rgb(255, 217, 0);
  }
  .white-header {
    background-color: #ffffff;
    padding: 15px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
    width: 200px; /* Sesuaikan lebar sesuai kebutuhan */
  }
  
  .search-bar button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #451773;
    color: #fff;
    cursor: pointer;
  }
  .btn-primary{
    width: 130px;
    height: 40px;
  }
    
